<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/about_us.css">
    <style>

    </style>
    <title>About Us</title>
</head>
<body>

<div class="about-section">


  <a href="/" class="button">Home</a>
    <h1>About Us</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Aryan Bhattacharya</h2>
                <p>aryanb1324@gmail.com</p>
                <p>Hello! I'm Aryan Bhattacharya, a junior with a passion for Biomedical Engineering, CS, and Science. I also enjoy public speaking, debate, and playing the viola.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Daniel Hoffmaster</h2>
                <p>daniel.m.hoffmaster@gmail.com</p>
                <p>Hello, I'm Daniel Hoffmaster. I'm passionate about computer science and involved in my school's robotics team, UIL math and computer science team, and the science olympiad team. So in other words, I don't touch grass.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Ishaant Majumdar</h2>
                <p>ishaantmajumdar@gmail.com</p>
                <p>Hey, I'm Ishaant Majumdar. I'm passionate about computer science and AI. In my free time, I enjoy creating art, playing music, and playing tennis.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Tad Tolbert</h2>
                <p>tadtheyounger@gmail.com</p>
                <p>Hey! I'm Tad Tolbert. Although all of my passions such as CS, business, and finance seem nerdy, I also love running cross country/Spartan races, trying new things, and hanging out with friends. My greatest passion is the brain and how humans learn. I hope to one day attend MIT and double major in AI and neuroscience or business.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Kyle Liu</h2>
                <p>kyleliupersonal@gmail.com</p>
                <p>
                Hello! I'm a enthusiastic problem-solver with a strong background in computer science and competitive programming. Outside of creating AI projects, teaching coding to others, and volunteering, I like to play the flute and workout with friends.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>James Li</h2>
                <p>jamespeilunli@gmail.com</p>
                <p>Hi, I'm James. I'm passionate about all things computer science, from AI to web development. In my free time, I enjoy playing the violin.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
