<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clarity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="fPage">
        <body>
            <div class="header">
                <a class="contact-btn" href="about-us">
                    <span class="glow"></span>
                    About Us
                </a>
                <a href="https://github.com/jamespeilunli/clarity-ai">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg" width="37px" height="37px">
                </a>
            </div>
        </body>

        <div class="spotlight">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <canvas id="particleCanvas"></canvas>

    <div class="accent-lines">
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="heroSubP">
        <p>Need </p>
    </div>
    <div class="hero">
        <div class="heroT">
            <h2>Clarity?</h2>
            <h2>Clarity?</h2>
        </div>
    </div>
    <p class="heroP">AI can help you see signs of endangered mental health.
    </p>
    </div>
    <div class="hero-spacer"></div>

    <div class="content-section">
        <div class="content-acc">
            <div></div>
            <div></div>
        </div>
        <p class="subt">Your posts speak volumes.</p>
        <h3 class="title"> AI understands.
        </h3>
        <p class="subp">Our natural language processing AI models attempt to detect signs of depression from personal, text-based social media posts in English.</p>
    </div>

    </div>

    <div class="content-section">
        <h3 class="title">Try our models!</h3>
        <div id="cards">
            <div class="card" onclick="window.location.href = '/depression'">
                <div class="card-content">
                    <div class="card-image">
                        <i class="fa-solid fa-cloud-showers-heavy"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <div class="card-info-title">
                                <h3>Depression Detection</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" onclick="window.location.href = '/anxiety'">
                <div class="card-content">
                    <div class="card-image">
                        <i class="fa-solid fa-wind"></i>
                    </div>
                    <div class="card-info-wrapper">
                        <div class="card-info">
                            <div class="card-info-title">
                                <h3>Anxiety Detection</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-container" class="form-container" style="display: none;">
            <button class="close-btn" onclick="closeForm()">×</button>
            <form id="input-form">
                <h3 id="form-title"></h3>
                <input type="text" id="user-input" name="user-input" placeholder="Enter text here" required>

                <button type="submit" class="button-border">Submit</button>

            </form>
        </div>
    </div>


    <!-- partial -->

</body>

</html>
