<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Vercel App</title>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h3>Adding Numbers</h3>
    <input type="text" id="first-number" placeholder="first number"> 
    <input type="text" id="second-number" placeholder="second number"> 
    <button onclick="process_input()">Add</button> 
    <p id="output"></p>
</body>
</html>

