
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }
  
  :root {
    --primary-color: #8e4cff;
    --secondary-color: #35a7ff;
    --accent-color: #ffffff;
    --background-text-color: #38618c;
    --highlight-color: #38618c;
    --background-color: #d6efff;
    --card-color: #ffffff;
    --text-light: #35a7ff;
    --color-1: #38618c;
    --title-color: var(--highlight-color);
    --text-color: var(--secondary-color);
    --header-color: #0f0605;
  }
  
  
  
  body {
      font-family: "Hubot-Sans", sans-serif;
  
    background: linear-gradient(-45deg, #ffffff, #d6efff, #b8e0ff, #d0b5ff);
    background-size: 4000% 4000%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  h1 {
      text-align: center;
      color: #2c3e50;
  }
  
  form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      var(--title-color)
    );
    z-index: 3;
  
      margin-bottom: 15px;
  }
  
  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
  }
  
  select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  
  button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: var(--title-color);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
  }
  
  button:hover {
      background-color: #34495e;
      transition: background-color 0.3s ease;
  
  }
  